html, body {
  font-family: "Lucida Grande", verdana, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0;
}

canvas[resize] {
    width: 100%;
    height: 100%;
    background: #e3dddb; //#e3dddb //#f3ece4
    position: absolute;
}

.hint {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15%;
  text-align: center;
}

.message {
  display: inline-block;
  border: 1px solid white;
  color: #fff;
  line-height: 32px;
  border-radius: 8px;
  padding: 0 16px;
}

.connect {
  position: absolute;
  top: 10px;
}

a {
  margin: 10px;
}

svg {
  width: 1.5%;
}

